@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




/* BLOG LIST */

.blogListContainer{
    display: flex;
    flex: 1 1 0;
    padding: 1.25rem  1.25rem 0;
}

.tableCont{
    position: relative;
    height: 80vh;
    max-width: 850px;
    overflow-x: auto;
    margin-top: 16px;
    border-color: gray;
}

/* .tableCont{
    display: none;
} */

.tableHead{
    padding: 1.5rem 0.75rem;
}



@media (min-width: 640px) { 
    .blogListContainer{
        padding-top: 3rem; 
        padding-left: 4rem; 
    }
   }